/*tags principales*/
:root {
    --color-base: #FFFFFF;
    --color-menu: #FD492C;
    --color-cards: #F69B3A;
    --color-cards-claro: #FEBE5D;
    --color-codigo: #053E61;
}
html {
    font-size:6.25%;
}
* {
    font-family:  'Noto Sans JP', sans-serif, Arial;
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    font-size: 14rem;;
}
h1 {
    font-size: 20rem;
}
a {
    color: #2E2A29;
    text-decoration: none;
    font-size: 14rem;
}
p {
    font-size: 14rem;
    margin-block-end: 10rem;
}
.titulo-principal {
    display: block;
    margin: 15rem auto;
    text-align: center;

}
.codigo-ej {
    background: var(--color-codigo);
    color: var(--color-base);
    padding: 5px;
    font-size: 12rem;
}
.buena-practica::after {
    content: "buena practica";
    font-size: 8rem;
    padding: 4rem;
    top: -55rem;
    color: #E1E289;
    position: relative;
    left: calc(64% - 5rem);
}

/*Menu*/
.menu {
    list-style: none;
    padding-left: 0px;
    /* background-color: var(--color-menu); */
    font-size: 16rem;
}
.menu li {
    display: inline-block;
    padding: 0 4rem 0 5rem;
    text-align: center;
}
.menu [hover] {
    background-color: var(--color-cards);
}
.menu a {
    color: black;
    padding: 10rem;
}
/* .menu .menu__activo{
    background-color: var(--color-cards);
} */
.menu .menu__activo a{
    background-color: var(--color-cards);
    color: #ffffff;
}

/*Card magia CSS*/
.cards {
    width: 94vw;
    min-width: 320px;
    max-width: 1024px;
    background: cadetblue;
    position: relative;
    margin: 0 auto;
    padding-top: 30rem;
    padding-bottom: 23rem;
    padding-left: 8rem;
    padding-right: 8rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards__item {
    width: calc(33% - 16px);
    min-width: 290px;
    padding: 5px;
    border-radius: 8px;
    border: solid 1px var(--color-cards-claro);
    background: var(--color-cards-claro);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 9px;
    min-height: 80px;
    flex-basis: 10rem;
    flex-grow: 1;
}
.cards__item:hover{
    
}
.item--tip:before {
    content: "TIP";
    position: relative;
    top: -16px;
    left: calc(4% - 5px);
    background: #A23BAF;
    color: var(--color-base);
    padding: 7rem;
    font-size: 16rem;
}
.item--info::before {
    content: "INFO";
    position: relative;
    top: -16px;
    left: calc(4% - 5px);
    background: #22C000;
    color: var(--color-base);
    padding: 7rem;
    font-size: 16rem;
}
.cards__cardImfo {
    content: "INFO";
    position: relative;
    top: -16px;
    left: calc(4% - 5px);
    background: #2EB7D6;
    color: var(--color-base);
    padding: 7rem;
    font-size: 16rem;
}
.cards__item p {
    min-height: 80px;
    line-height: 18rem;
}